body {
  margin: 0;
}

.main-header {
  background-image: url(assets/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 523px;
  position: relative;
  margin: 0 67px;
  overflow: auto;
}

 .main-header .logo{
   background-image: url(assets/logo.png);
   background-repeat: no-repeat;
   height: 45px;
   padding: 10px 0 0 60px;
   margin: 0;
   position: absolute;
   top: 10px;
   left: 140px;
   font-size:12pt;
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   color:#093450;
}

.main-header .heading {
  position: relative;
  top: 195px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.main-header .heading h1,
.main-header .heading h2{
  text-align: center;
  margin: 0px;

}

.main-header .heading h1 {
  font-size: 100px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: -20px;
}

.main-header .heading h2 {
  font-size: 16px;
  color: #093450;
  font-weight: 400;
}

.main-header nav{
  height:45px;
  position: absolute;
  display:inline;
  top:17px;
  right:155px;

}

.main-header a{
  font-family: 'Oswald', sans-serif;
  font-size: 13pt;
  font-weight: 600;
  text-decoration: none;
  color: #093450;
  padding: 0 10px 0 0;
}

/**Begining of Body**/

.main-article{
  display: inline-block;
  width: 45%;
  margin: 65px 0 0 233px;
}

.main-article .heading{
  font-family:'Oswald', sans-serif;
  font-size:65px;
  color: #093450;
  margin: 0;
  font-weight: 400;
  line-height: 70px;
  display: inline;
}

.main-article .article-info{
  background-image: url(assets/avatar.png);
  background-repeat: no-repeat;
  background-size: 23.5px 23.5px;
  padding: 4px 23px;
  margin: 5px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.main-article .article-info .name{
  text-decoration: none;
  color: #2277B7;
  display: inline;
}

.main-article .article-info h1{
  color:#AFBDC7;
  display: inline;
  font-weight: normal;
  font-size: 13px;
  padding-left: 10px;
}

.main-article .body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #545E66;
  margin-top: 19px;
  line-height: 25px;
  padding-top: 1px;
}

.body a{
  color: #AFBDC7;
}

.body blockquote h1{
  font-size: 28px;
  font-weight: normal;
  color: #2277B7;
  border-left: 2px solid #AFBDC7;
  margin: 37px 0px 27px -34px;
  padding: 15px 17px;
}

.social{
  padding:22px 3px 68px;
}

.social a {
  padding: 0 0 0 35px;
  background-color: #7E868B;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: inline-block;
  margin-left: 6px;
}

.social a:hover {
  background-color: #395C74;
}

.social a:hover span{
  background-color: #3F8AC2;
}

.comments-btn {
  background-image: url(assets/icon-comment.png);
}

.read-btn {
  background-image: url(assets/icon-upload.png);
}

.share-btn {
  background-image: url(assets/icon-share.png);
}

.social a span {
  padding: 5px;
  display: inline-block;
  background: #C8D1D8;
  color: #fafafa;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

/** sidebar**/

.sidebar{
  display: inline-block;
  position: absolute;
  width:25%;
  margin: 83px 0 0 0;
}

.sidebar .author{
  background-image: url(assets/avatar.png);
  background-repeat: no-repeat;
  background-position: top center;
  padding: 94px 0 0 0;
  margin: 0;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2277B7;
  text-align: center;
}

.media{
  padding: 0px 78px;

}

.sidebar .media a{
 color:#AFBDC7;
 text-decoration: none;
 font-family: 'Open Sans', sans-serif;
 font-size: 14px;
 font-weight: 400;
}

.facebook-lnk{
  border-left: 1px solid #fafafa;
  border-right: 1px solid #fafafa;
  padding: 0 5px;
}

.sidebar a:hover span{
  color:#2277B7;
}

.ad {
  margin: 0;
  width: 88%;
  padding: 53px 48px 0;
}

.ad img{
  width: inherit;
}

.ad a{
  font-family: 'Open Sans', sans-serif;
  color: #AFBDC7;
  float:right;
  padding: 0 36px 0 0;
  font-size: 14px;
}

.ad a:hover span{
  color:#2277B7;
  text-decoration: underline;
}

.sidebar-text h1{
  font-family: 'Oswald', sans-serif;
  color: #2277B7;
  padding:45px 0 0 44px;
}

.sidebar-text p{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color:#AFBDC7;
  font-size: 14px;
  padding: 0px 45px;
  line-height: 25px;
  margin-top: -17px;
}

.sidebar-text a{
  color: #AFBDC7;

}

a:hover span{
  color: #2277B7;
}

/**bottem third of**/
 .popular-posts{
  position: absolute;
  width:100%;
}

.headline {
  font-family: 'Oswald', sans-serif;
  font-size:65px;
  color: #093450;
  font-weight: 400;
  text-align: center;
  border-top: 1px solid #AFBDC7;
  margin:0 65px;
  padding: 23px;
}

.popular-img{
  padding: 0;
  width: 90%;
  margin: 0 auto;
  background: #2277B7;
  overflow: auto;
  border-bottom: 100px solid #083452;
}

.popular-img a {
  display: block;
  min-height: 300px;
  width:25%;
  height: 325px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  float: left;
  text-decoration: none;
  opacity: .4;
  position: relative;
}

.popular-img a:hover {
  opacity: .9;
}

.surf-lnk{
  background-image: url(assets/article-image-1.jpg);
}

.beer-lnk{
  background-image: url(assets/article-image-2.jpg);
}

.zac-lnk{
  background-image: url(assets/article-image-3.jpg);
}

.bar-lnk{
  background-image: url(assets/article-image-4.jpg);
}

.popular-posts .popular-img span{
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  position: absolute;
  bottom: 20px;
}

.popular-img a:hover span{
  color: #fafafa;
}

.bottom-border .iron-logo{
  background-image: url(assets/theironyard-logo.png);
  background-repeat: no-repeat;
  height:45px;
  position: absolute;
  bottom: 15px;
  left: 235px;
  font-family: 'Open Sans', sans-serif;
  color: #A4B5C1;
  padding:14px 0 0 60px;
  font-weight: 400;
  font-size: 12.5px;
  margin: 0;
}

.navigation{
  position: absolute;
  right: 240px;
  bottom: 40px;
}

.navigation a{
  text-decoration: none;
  color: #A4B5C1;
  font-family:'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 5px;
}

.navigation a .nav2{
  border-left: 1px solid #A4B5C1;
}
